---
import AnchorageBaseLayout from "../layouts/AnchorageBaseLayout.astro";
import { HeroBanner } from "@rkn/page-components";
import { IconEmail } from "@rkn/base-components";
const allProfiles = await Astro.glob("./profiles/*.mdx");
const title = "Profiles";
---

<AnchorageBaseLayout title={title}>
    <HeroBanner
        BackgroundImage="images/HeaderImage.jpg"
        HeroText="A collective of expert practitioners seeking to equip others in transforming, growing, and bridging the gap between aspiration and reality."
    />
    <div class="container">
        <h2>OUR COLLECTIVE</h2>
        <p><em>Supervisors, Mentors, Practitioners, Spiritual Directors</em></p>
    </div>
    <ul>
        {
            allProfiles.map((profile) => (
                <li>
                    <a href={profile.url}>
                        <img
                            src={profile.frontmatter.image
                                .split(".")
                                .join("-thumb.")}
                        />
                    </a>
                    <a href={profile.url}>
                        <h3>{profile.frontmatter.name}</h3>
                    </a>
                    <p>{profile.frontmatter.excerpt}</p>
                    <div class="profile_icon_container">
                        <IconEmail
                            iconemail={profile.frontmatter.email}
                            class="profile_icon"
                        />
                    </div>
                </li>
            ))
        }
    </ul>
</AnchorageBaseLayout>

<style>
    div.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
    h2 {
        color: var(--anchorage-blue);
    }
    ul {
        padding: 2rem 5% 3em 5%;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        width: 100%;
        max-width: 1920px;
        margin: auto;
    }
    li,
    a {
        color: var(--anchorage-blue);
        font-family: Montserrat;
        text-decoration: none;
    }
    p {
        color: var(--gunmetal);
        font-family: Source Sans Pro;
        font-weight: 500;
        text-align: center;
        max-width: 50ch;
    }
    li {
        display: flex;
        flex-direction: column;
        margin: 20px;
        align-items: center;
    }
    img {
        max-width: 200px;
        height: auto;
        border-radius: 100%;
    }
    .profile_icon_container {
        margin: auto auto 0 auto;
        display: flex;
    }
    :global(.profile_icon_container svg) {
        fill: var(--gunmetal);
    }
    @media (max-width: 915px) {
        ul {
            grid-template-columns: repeat(2, 50%);
        }
    }
    @media (max-width: 640px) {
        ul {
            grid-template-columns: 100%;
        }
    }
</style>
