---
import AnchorageBaseLayout from "./AnchorageBaseLayout.astro";
const { frontmatter } = Astro.props;
---

<AnchorageBaseLayout>
    <section class="profile">
        <div class="profile_container_inner">
            <img src={frontmatter.image} />

            <h3>Education:</h3>

            <p>{frontmatter.education}</p>

            <h3>Memberships:</h3>

            <p>{frontmatter.memberships}</p>

            <h3>Services Offered:</h3>

            <p>{frontmatter.servicesOffered}</p>

            <h3>Experience areas:</h3>

            <p>{frontmatter.experienceAreas}</p>

            <h3>Specialty areas:</h3>

            <p>{frontmatter.specialtyAreas}</p>

            <hr />
            <section class="profile-content">
                <slot />
            </section>
            <hr />
        </div>
    </section>
</AnchorageBaseLayout>

<style>
    h3,
    p {
        color: #51534a;
    }
    :global(.profile-content *) {
        color: #51534a;
    }
    .profile {
        max-width: 750px;
        padding: 2rem 2vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        background-color: #ffffff;
    }
    img {
        width: 100%;
        height: auto;
    }
    main {
        background-color: #f2f2f2;
    }
    hr {
        margin-top: 2em;
    }
    hr:last-of-type {
        margin-bottom: 2em;
    }
</style>
